<!-- Banner -->
  <div class="header-s1">
		<div class="banner banner-static has-bg">
        <div class="banner-cpn">
          <div class="container">
            <div class="content row">
  
              <div class="banner-text">
                <h1 class="page-title">Request For Free Conslutation</h1>
                <p>To ventore veritatis et quasi architecto beatae vitae dicta et quasi architecto beatae vitae incididunt ut labore et dolor dicta.</p>
              </div>
              <div class="page-breadcrumb">
                <ul class="breadcrumb">
                  <li><a href="index-2.html">Home</a></li>
                  <li class="active"><span>Free Conslutant</span></li>
                </ul>
              </div>
  
            </div>
          </div>
        </div>
        <div class="banner-bg">
          <img src="assets/image/banner-inner.jpg" alt="" />
        </div>
      </div>
    </div>

      <!-- End Banner -->
    <div class="section section-contents section-freequote section-pad">
      <div class="container">
        <div class="row">
  
          <div class="freequote-content row">
  
            <div class="quote-list col-md-7 res-m-bttm-lg">
              <div class="quote-group">
                <form id="quote-contact-request" class="form-quote" action="http://demo.themesurf.com/consulting/form/quote-request.php" method="post">
                  <div class="form-group row">
                    <div class="form-field col-md-6 form-m-bttm">
                      <input name="quote-request-name" type="text" placeholder="Your Name *" class="form-control required">
                    </div>
                    <div class="form-field col-md-6">
                      <input name="quote-request-company" type="text" placeholder="Your Company" class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="form-field col-md-6 form-m-bttm">
                      <input name="quote-request-email" type="email" placeholder="Email Address *" class="form-control required email">
                    </div>
                    <div class="form-field col-md-6">
                      <input name="quote-request-phone" type="text" placeholder="Phone Number *" class="form-control required">
                    </div>
                  </div>
                  <h4>Service You Interested</h4>
                  <div class="form-group row">
                    <ul class="form-field clearfix">
                      <li class="col-sm-4"><input type="checkbox" name="quote-request-interest[]" value="Business Consulting"> <span>Business Consulting</span></li>
                      <li class="col-sm-4"><input type="checkbox" name="quote-request-interest[]" value="Audit & Assurance"> <span>Audit &amp; Assurance</span></li>
                      <li class="col-sm-4"><input type="checkbox" name="quote-request-interest[]" value="Financial Projections"> <span>Financial Projections</span></li>
                    </ul>
                    <ul class="form-field clearfix">
                      <li class="col-sm-4"><input type="checkbox" name="quote-request-interest[]" value="Investment Planning"> <span>Investment Planning</span></li>
                      <li class="col-sm-4"><input type="checkbox" name="quote-request-interest[]" value="Retirement Planning"> <span>Retirement Planning</span></li>
                      <li class="col-sm-4"><input type="checkbox" name="quote-request-interest[]" value="Strategic Planning"> <span>Strategic Planning</span></li>
                    </ul>
                  </div>
                  <div class="form-group row">
                    <div class="form-field col-md-6">
                      <p>Best Time to Reach</p>
                      <select name="quote-request-reach">
                        <option value="">Please select</option>
                        <option value="09am-12pm">09 AM - 12 PM</option>
                        <option value="12pm-03pm">12 PM - 03 PM</option>
                        <option value="03pm-06pm">03 PM - 06 PM</option>
                      </select>
                    </div>
                    <div class="form-field col-md-6">
                      <p>Hear About Us</p>
                      <select name="quote-request-hear">
                        <option value="">Please select</option>
                        <option value="Friends">Friends</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Google">Google</option>
                        <option value="Collegue">Collegue</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="form-field col-md-12">
                      <textarea name="quote-request-message" placeholder="Messages / Comments *" class="txtarea form-control required"></textarea>
                    </div>
                  </div>
                  <input type="text" class="hidden" name="form-anti-honeypot" value="">
                  <button type="submit" class="btn">Submit</button>
                  <div class="form-results"></div>
                </form>
              </div>
            </div>
  
            <div class="contact-details col-md-4 col-md-offset-1">
                <h3 class="heading-section">Contact Address</h3>
                <ul class="contact-list">
                  <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                    <span>
                      <strong>Bangladesh</strong> : Planners Tower,<br>
                        Suite # 13, Level # 14, 
                        13/A, Sonargaon Road,<br>
                        Banglamotor, Dhaka</span>
                  </li>
                  <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                    <span>
                        <strong>UK</strong> : 100 Mile End Road, London, E1 4UN, UK
                    </span>
                  </li>
                  <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                    <span>
                        <strong>USA</strong> : Jamaica Street, Newyork, NY-11432, USA
                    </span>
                  </li>
                  <li><em class="fa fa-phone" aria-hidden="true"></em>
                    <span>
                        <strong>BD</strong>: +8801799922567<br>
                        <strong>BD</strong>: +8801782579029<br>
                        <strong>UK</strong>: +44(0)20 3633 1301
                    </span>
                  </li>
                  <li><em class="fa fa-envelope" aria-hidden="true"></em>
                    <span>BD : <a href="#">info@cloudnextbd.com</a></span>
                    <span>UK : <a href="#">info-uk@cloudnextbd.com</a></span>
                    <span>US : <a href="#">info-us@cloudnextbd.com</a></span>
                  </li>
                  <li><em class="fa fa-skype" aria-hidden="true"></em>
                    <span>Skype : <a href="#">cloudnextbd</a></span>
                  </li>
                  <li>
                    <em class="fa fa-clock-o" aria-hidden="true"></em><span>Sun - Thu: 9AM - 5PM </span>
                  </li>
                </ul>
              </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->