
    <!-- Banner -->
    <div class="header-s1">
        <div class="banner banner-static has-bg">
            <div class="banner-cpn">
              <div class="container">
                <div class="content row">
      
                  <div class="banner-text">
                    <h1 class="page-title">CUSTOM SOFTWARE FOR IMAGE ANALYSIS</h1>
                    <p>UNDERSTANDING YOUR IMAGES</p>
                  </div>
                  <div class="page-breadcrumb">
                    <ul class="breadcrumb">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Service</a></li>
                      <li class="active"><span>Image Analysis</span></li>
                    </ul>
                  </div>
      
                </div>
              </div>
            </div>
            <div class="banner-bg">
              <img src="assets/image/banner-inner.jpg" alt="" />
            </div>
          </div>
        </div>
          <!-- End Banner -->
        <!-- Contents -->
        <div class="faqs-section section-pad">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                
                  <section class="area-wysiwyg">
                      <h2>SOLUTIONS</h2>
                      <p>Various industries apply image analysis software to identify people and objects, assess quality and possible damage, grade and sort products and derive other meaningful information from images and videos.</p>
                      <p>We develop custom image analysis solutions tailored to specific needs of our customers and address a wide range of image processing tasks in <a href="https://www.scnsoft.com/services/image-analysis/machine-vision">manufacturing</a>, healthcare, retail, etc.</p>
                      <h3>Image recognition tasks</h3>
                      <p><img alt="Image recognition tasks" src="/image-analysis/image-recognition-tasks_.svg" data-pagespeed-url-hash="1017843134" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                      <h5>Detection</h5>
                      <p>Looking for specific conditions in digital imaging data: detecting regions of interest for further analysis, distinguishing objects from the background.</p>
                      <h5>Recognition</h5>
                      <p>Labeling or classifying objects in digital images based on one or several object classes: people, vehicles, electronic components, etc.</p>
                      <h5>Identification</h5>
                      <p>Recognizing individual features of an object and classifying it with more precision: identifying individual people, specific vehicles, animal species, device models, etc.</p>
                      <p style="text-align: right;"><a class="blink" href="/contacts/request-for-quote">Get a quote</a></p>
                      <h3>Practical applications</h3>
                      </section>
                      <table class="table table-bordered responsive-table table-border-none" data-border="none">
                          <tbody>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Facial recognition" src="/blue-icons-on-grey-background/facial_recognition.svg" style="width:84px;" data-pagespeed-url-hash="3621722351" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Facial recognition</h5>
                          <p>Identifying a specific person’s face. Facial recognition has a variety of applications, from <a href="https://www.scnsoft.com/case-studies/facial-recognition-for-retail">retailers recognizing their customers</a> in order to provide them exclusive services to high-level security systems identifying suspects and trespassers.</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Emotion recognition" src="/blue-icons-on-grey-background/emotion.svg" style="width:84px;" data-pagespeed-url-hash="378544584" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Emotion recognition</h5>
                          <p>Application examples include assessing the level of a customer’s satisfaction, allowing a smart camera to shoot a photo at the right moment, etc.</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Quality inspection" src="/blue-icons-on-grey-background/quality_inspection.svg" style="width:84px;" data-pagespeed-url-hash="3646238175" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Quality control (QC)</h5>
                          <p>Checking for surface defects, foreign materials, discoloration, absence of components, etc. See our <a href="https://www.scnsoft.com/services/image-analysis/automated-visual-inspection">automated visual inspection</a> page to find out more details.</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Grading and sorting" src="/blue-icons-on-grey-background/sorting.svg" style="width:84px;" data-pagespeed-url-hash="850205957" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Grading and sorting</h5>
                          <p>Classifying objects according to their quality (e.g., grading fruits and vegetables) and then sorting them accordingly.</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Counting" src="/blue-icons-on-grey-background/pile.svg" style="width:84px;" data-pagespeed-url-hash="1292992213" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Counting</h5>
                          <p>Using an optical system to count similar objects on the production line or in a warehouse.</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Damage assessment" src="/blue-icons-on-grey-background/problem.svg" style="width:84px;" data-pagespeed-url-hash="2031837424" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Damage assessment</h5>
                          <p>Identifying damage issues in complex electronic devices, vehicles, etc.</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Computer-aided diagnosis" src="/blue-icons-on-grey-background/x-ray.svg" style="width:84px;" data-pagespeed-url-hash="2785560746" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Computer-aided diagnosis</h5>
                          <p>Assisting diagnosticians in reading plane X-ray images, CT-, PET- and MRI-scans, ultrasound scans (including 3D and 4D), isotope scans, etc. Enhancing clinical images, measuring organ dimensions and blood flow, detecting pathological signs and suggesting a diagnosis. For more details, see our page on <a href="https://www.scnsoft.com/healthcare/image-analysis">medical image analysis</a>.</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="3D reconstruction" src="/blue-icons-on-grey-background/3d_modeling.svg" style="width:84px;" data-pagespeed-url-hash="2973059744" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>3D reconstruction</h5>
                          <p>Producing 3D models from 2D data (e.g., medical scans)</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Optical character recognition" src="/blue-icons-on-grey-background/quantification.svg" style="width:84px;" data-pagespeed-url-hash="3881350302" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Optical character recognition</h5>
                          <p>Reading texts and number sequences (printed and handwritten).</p>
                          </td>
                          </tr>
                          </tbody>
                      </table>
                      <table class="table table-bordered responsive-table table-border-none" data-border="none">
                          <tbody>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Event detection" src="/blue-icons-on-grey-background/alarm.svg" style="width:84px;" data-pagespeed-url-hash="2832033622" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Event detection</h5>
                          <p>Identifying behavior anomalies and alarms in surveillance videos, counting people traversing a passage.</p>
                          </td>
                          </tr>
                          <tr class="rowItem" data-bgcolor="" style="background-color: ">
                          <td style="vertical-align: middle">
                          <p><img alt="Organizing visual information" src="/blue-icons-on-grey-background/data_warehousing_and_etl.svg" style="width:84px;" data-pagespeed-url-hash="3779999072" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                          </td>
                          <td style="vertical-align: middle">
                          <h5>Organizing visual information</h5>
                          <p>Indexing visual databases.</p>
                          </td>
                          </tr>
                          </tbody>
                    </table>
                    <div class="content__text">
                        <h2>CHALLENGES WE SOLVE</h2>
                        <ul>
                        <li><strong>Variability in the area of interest</strong><br>
                        Image analysis software will locate the region of interest automatically (e.g., detect a barcode on a parcel or a road sign on a wayside).</li>
                        <li><strong>Low-quality imaging&nbsp;(e.g., images taken with a mobile-device camera)</strong><br>
                        Image preprocessing will remove unnecessary noise and enhance image quality.</li>
                        <li><strong>Object rotation</strong><br>
                        We use SIFT and other state-of-the-art feature detection algorithms that are rotation-invariant to some reasonable extent.</li>
                        <li><strong>Classification into numerous categories</strong><br>
                        Training artificial neural networks with a sufficient amount of data, we can solve many classification challenges, including a large number of categories to classify.</li>
                        </ul>
                        <h2>APPROACHES</h2>
                        <p>Depending on our customer’s specific problem, our consultants will suggest the most appropriate solution based on one of the following approaches or their combination.</p>
                        <p><img alt="Image analysis approaches" src="/image-analysis/image-analysis-approaches__.svg" data-pagespeed-url-hash="2258486396" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                        <h3>Rule-based</h3>
                    </div>
                    <p>This approach will be a perfect choice if it’s possible to determine a limited set of strict rules. Usually, this would be the case when the visual data amount is small and their variability is low, for example, when the task is to detect and read a barcode stripe pattern.</p>
                    <table class="table table-bordered responsive-table table-border-none" data-border="none">
                        <tbody>
                        <tr class="rowItem" data-bgcolor="" style="background-color: ">
                        <td style="vertical-align: middle">
                        <p><img alt="Advantages" src="/small-grey-icons/answer.svg" style="width:48px;" data-pagespeed-url-hash="1734023979" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                        </td>
                        <td style="vertical-align: middle">
                        <p><strong>Advantages:</strong></p>
                        <ul>
                        <li>Shows excellent performance within a narrow domain.</li>
                        <li>Doesn’t require big datasets.</li>
                        <li>Performance can be easily validated.</li>
                        <li>Explicability – we can clearly see every decision step right in our code.</li>
                        <li>Easy debugging.</li>
                        </ul>
                        </td>
                        </tr>
                        <tr class="rowItem" data-bgcolor="" style="background-color: ">
                        <td style="vertical-align: middle">
                        <p><img src="/small-grey-icons/disadvantage.svg" style="width:48px;" data-pagespeed-url-hash="1838214810" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                        </td>
                        <td style="vertical-align: middle">
                        <p><strong>Disadvantages:</strong></p>
                        <ul>
                        <li>Requires explicit knowledge about all possible appearances of objects to analyze.</li>
                        <li>Poor generalization: rules should be highly specific in each particular case.</li>
                        <li>Labor-intensive development: each rule should be programmed explicitly, which takes time and effort.</li>
                        </ul>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                    <section class="area-wysiwyg">
                        <h3>Machine learning</h3>
                        <p>Machine learning is particularly good at analyzing big and unstructured data, because it doesn’t need any explicit rules to be programmed. Instead, it uses big datasets to derive all the rules on its own.</p>
                        </section>
                        <table class="table table-bordered responsive-table table-border-none" data-border="none">
                            <tbody>
                            <tr class="rowItem" data-bgcolor="" style="background-color: ">
                            <td style="vertical-align: middle">
                            <p><img alt="Advantages" src="/small-grey-icons/answer.svg" style="width:48px;" data-pagespeed-url-hash="1734023979" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                            </td>
                            <td style="vertical-align: middle">
                            <p><strong>Advantages:</strong></p>
                            <ul>
                            <li>Deals better with complex objects and tasks.</li>
                            <li>Doesn’t require explicit knowledge.</li>
                            <li>Easier scalability.</li>
                            <li>Lower operational cost.</li>
                            </ul>
                            </td>
                            </tr>
                            <tr class="rowItem" data-bgcolor="" style="background-color: ">
                            <td style="vertical-align: middle">
                            <p><img src="/small-grey-icons/disadvantage.svg" style="width:48px;" data-pagespeed-url-hash="1838214810" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
                            </td>
                            <td style="vertical-align: middle">
                            <p><strong>Disadvantages:</strong></p>
                            <ul>
                            <li>Requires large image datasets.</li>
                            <li>Implementation can be more complicated.</li>
                            <li>‘Black-box’ problem – all the rules are hidden in the complex inner structure of an algorithm (e.g., deep neural network) and are difficult to extract.</li>
                            </ul>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <section class="area-wysiwyg">
                                <h2>IMAGE ANALYSIS CONSULTING</h2>
                                <p>We look at a problem as a whole, considering all the nuances that might affect an image analysis system’s performance. Our experts will be eager to help you choose the most appropriate solution and avoid possible pitfalls to achieve the best results.</p>
                                <p><strong>A consultation will cover:</strong></p>
                                <ul>
                                <li>Camera and lighting selection</li>
                                <li>Process optimization</li>
                                <li>Integration with other IT systems (ERP, POS, etc.)</li>
                                </ul>
                                <h2>WHAT WE DO</h2>
                                <ul>
                                <li>Clarify requirements in detail</li>
                                <li>Create a proof of concept</li>
                                <li>Develop a prototype &nbsp;</li>
                                <li>Implement the solution</li>
                                <li>Provide support and maintenance</li>
                                </ul>
                                <h2>TECHNOLOGY STACK</h2>
                                <p><strong>Programming languages:</strong></p>
                                <ul>
                                <li>C++</li>
                                <li>MATLAB/Octave</li>
                                <li>R</li>
                                <li>Python</li>
                                <li>Objective-C</li>
                                </ul>
                                <p><strong>Libraries and frameworks:</strong></p>
                                <ul>
                                <li>OpenCV 2.x, 3.x</li>
                                <li>Caffe</li>
                                <li>tesseract-ocr</li>
                                <li>MatConvNet</li>
                                <li>Numpy</li>
                                </ul>
                                <p><strong>Platforms:</strong></p>
                                <ul>
                                <li>Linux</li>
                                <li>Windows</li>
                                <li>Mac OS</li>
                                <li>Android</li>
                                </ul>
                                <h2>FIND OUT HOW TO SOLVE YOUR PROBLEM</h2>
                                <p>Tell our consultants about your image analysis challenge and we will work to get you the solution you need.</p>
                                <p style="text-align: right;"><a class="blink" href="/contacts/request-for-quote">Get a quote</a></p>
                              </section>



                
              </div>
      
            </div>
          </div>
        </div>
        <!-- End Section -->