    <!-- Banner -->
  <div class="header-s1">
		<div class="banner banner-static has-bg bg-secondary">
        <div class="banner-cpn">
          <div class="container">
            <div class="content row">
  
              <div class="banner-text">
                <h1 class="page-title">Contact Consulting Expert</h1>
                <p>Want to work with us or need more details about consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolor.</p>
              </div>
              <div class="page-breadcrumb">
                <ul class="breadcrumb">
                  <li><a href="index-2.html">Home</a></li>
                  <li class="active"><span>Contact Us</span></li>
                </ul>
              </div>
  
            </div>
          </div>
        </div>
        <div class="banner-bg">
          <img src="assets/image/banner-inner.jpg" alt="" />
        </div>
      </div>
    </div>
      <!-- End Banner -->
    <!-- Content -->
    <div class="section section-contents section-contact section-pad">
      <div class="container">
        <div class="content row">
  
          <div class="contact-content row">
            <div class="drop-message col-md-7 res-m-bttm">
              <h2 class="heading-section">Drop a Message</h2>
              <form id="quote-contact-request" class="form-message" action="http://demo.themesurf.com/consulting/form/contact.php" method="post">
                <div class="form-results"></div>
                <div class="form-group row">
                  <div class="form-field col-md-6 form-m-bttm">
                    <input name="contact-name" type="text" placeholder="Name *" class="form-control required">
                  </div>
                  <div class="form-field col-md-6">
                    <input name="contact-email" type="email" placeholder="Email *" class="form-control required email">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-field col-md-6 form-m-bttm">
                    <input name="contact-phone" type="text" placeholder="Phone" class="form-control">
                  </div>
                  <div class="form-field col-md-6">
                    <input name="contact-service" type="text" placeholder="Interest of Service" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-field col-md-12">
                    <textarea name="contact-message" placeholder="Messages *" class="txtarea form-control required"></textarea>
                  </div>
                </div>
                <input type="text" class="hidden" name="form-anti-honeypot" value="">
                <button type="submit" class="btn solid-btn sb-h">Submit</button>
              </form>
            </div>
            <div class="contact-details col-md-4 col-md-offset-1">
              <h3 class="heading-section">Contact Address</h3>
              <ul class="contact-list">
                <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                  <span>
                    <strong>BD</strong> : Planners Tower,<br>
                      Suite # 13, Level # 14, 
                      13/A, Sonargaon Road,<br>
                      Banglamotor, Dhaka.</span>
                </li>
                <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                  <span>
                      <strong>UK</strong> : 100 Mile End Road, London, E1 4UN, UK.
                  </span>
                </li>
                <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                  <span>
                      <strong>USA</strong> : Jamaica Street, Newyork, USA
                  </span>
                </li>
                <li><em class="fa fa-phone" aria-hidden="true"></em>
                  <span>
                      <strong>BD</strong>: +8801799922567<br>
                      <strong>BD</strong>: +8801782579029<br>
                      <strong>UK</strong>: 020 3633 1301
                  </span>
                </li>
                <li><em class="fa fa-envelope" aria-hidden="true"></em>
                  <span>BD : <a href="#">info@cloudnextbd.com</a></span>
                  <span>UK : <a href="#">info-uk@cloudnextbd.com</a></span>
                  <span>US : <a href="#">info-us@cloudnextbd.com</a></span>
                </li>
                <li><em class="fa fa-skype" aria-hidden="true"></em>
                  <span>Skype : <a href="#">cloudnextbd</a></span>
                </li>
                <li>
                  <em class="fa fa-clock-o" aria-hidden="true"></em><span>Sun - Thu: 9AM - 5PM </span>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <!-- End Content -->

    <section id="g-map">
        <agm-map style="height: 350px" [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng">
              <agm-snazzy-info-window [isOpen]="true" [maxWidth]="250" [closeWhenOthersOpen]="true">
                <ng-template>
                    Planners Tower,
                    Suite # 13, Level # 14,
                    13/A, Sonargaon Road,
                    Banglamotor, Dhaka.
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
    </section>

