      <!-- Banner/Slider -->
      <div id="slider" class="banner banner-slider carousel slide carousel-fade">
          <!-- Wrapper for Slides -->
          <div class="carousel-inner">
            <!-- // -->
            <div class="item active">
              <div class="fill" style="background-image:url('assets/image/sl2.png');">
                <div class="banner-content">
                  <div class="container">
                    <div class="row">
                      <div class="banner-text al-left pos-left dark">
                        <div class="animated fadeInUp">
                          <h2>Consulting + Planning + Developing</h2>
                          <p class="lead">No matter how complex your business questions, we have the capabilities and experience to deliver the answers you need to move forward.</p>
                          <div class="banner-cta">
                            <a class="btn" routerLink="/services">Learn More</a>												
                            <a class="btn btn-alt btn-outline" routerLink="/services">Our Services</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // -->
            <div class="item">
              <div class="fill" style="background-image:url('assets/image/sl4.jpg');">
                <div class="banner-content">
                  <div class="container">
                    <div class="row">
                      <div class="banner-text al-left pos-left dark">
                        <div class="animated fadeInUp">
                          <h2>Getting business results!</h2>
                          <p class="lead">As the world’s largest consulting firm, we can help you take decisive action and achieve sustainable results.</p>
                          <div class="banner-cta">
                            <a class="btn" routerLink="/services">Learn More</a>
                            <a class="btn btn-alt" routerLink="/services">Free Consultation</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // -->
            <div class="item">
              <div class="fill" style="background-image:url('assets/image/sl1.png');">
                <div class="banner-content">
                  <div class="container">
                    <div class="row">
                      <div class="banner-text al-left pos-left dark">
                        <div class="animated fadeInUp">
                          <h2>Advanced Analytics</h2>
                          <p class="lead">To realize the value of big data, organizations need strategic—and not merely technological—solutions.</p>
                          <div class="banner-cta">
                            <a class="btn" routerLink="/services">Learn More</a>
                            <a class="btn btn-light btn-outline" routerLink="/services">Contact Us</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
						<!-- // -->
						
            <div class="item">
								<div class="fill" style="background-image:url('assets/image/sl3.jpg');">
									<div class="banner-content">
										<div class="container">
											<div class="row">
												<div class="banner-text al-left pos-left dark">
													<div class="animated fadeInUp">
														<h2>Advanced Analytics</h2>
														<p class="lead">To realize the value of big data, organizations need strategic—and not merely technological—solutions.</p>
														<div class="banner-cta">
															<a class="btn" routerLink="/services">Learn More</a>
															<a class="btn btn-light btn-outline" routerLink="/services">Contact Us</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- // -->
          </div>
          <!-- Arrow Controls -->
          <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- #end Banner/Slider -->

<!-- Service Section -->
	<div class="section section-services section-pad bg-light">
	    <div class="container">
	        <div class="content row">
	        	<!-- Feature Row  -->
				<div class="feature-row feature-service-row row">
					<div class="col-sm-4">
						<!-- feature box -->
						<div class="feature feature-s6 boxed">
							<a href="#">
								<div class="fbox-photo">
									<img src="assets/image/home-service-a.jpg" alt="">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="#">Business Planning</a></h3>
								<p>Planning is the single most important part of success, poor planning can result in a lot of lost time...</p>
								<p><a href="#" class="btn-link">Read More</a></p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
					<div class="col-sm-4">
						<!-- feature box -->
						<div class="feature feature-s6 boxed">
							<a href="#">
								<div class="fbox-photo">
									<img src="assets/image/home-service-b.jpg" alt="">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="#">Investment Planning</a></h3>
                                <p>We work with our clients and do a deep research of their business. We help prepare possible outcomes...</p>
                                <p><a href="#" class="btn-link">Read More</a></p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
					<div class="col-sm-4">
						<!-- feature box -->
						<div class="feature feature-s6 boxed">
							<a href="#">
								<div class="fbox-photo">
									<img src="assets/image/home-service-c.jpg" alt="">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="#">Audit &amp; Assurance</a></h3>
								<p>Audit and assurance is all about data analysis. Everything needs to be checked, double checked and triple...</p>
								<p><a href="#" class="btn-link">Read More</a></p>
							</div>
						</div>
						<!-- End Featur box -->
					</div>
				</div>
				<!-- Feture Row  #end -->
	        </div>
	    </div>
	</div>
	<!-- End Section -->

	<!-- Content  -->
	<div class="section-pad">
		<div class="container">
			<div class="content row row-vm">
                <div class="col-md-6 npl res-m-bttm">
					<div class="text-left comm-heading">
						<h3 class="heading-section">Company At A Glance</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim aliquam, condimentum nisl a, laoreet lectus. Aliquam convallis sed elit nec vehicula. Praesent gravida, massa sit amet ullamcorper fringilla, tortor nunc ultrices dui porttitor mi non, elementum dui.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a enim aliquam, condimentum nisl a, laoreet lectus.</p>
					    <a routerLink="/about" class="btn">About us</a>
                    </div>
				</div>
				<div class="col-md-5 col-lg-offset-1 npr">
						<img src="assets/image/home-about.jpg" alt="Consulting Template">
				</div>
			</div>
		</div>
	</div>
	<!-- End Conetnt -->
    <!-- Content -->
    <div class="section section-pad bg-secondary light">
        <div class="container">
            <div class="content row">
                <div class="col-lg-12">
                    <div class="wide-sm center">
                        <h2>Consulting services for industries</h2>
                        <div class="gaps size-xs"></div>
                        <p class="lead">Our industry consultants help address your most challenging issues by providing strategic, financial, operational, human capital, and IT services.</p>
                        <div class="gaps"></div>
                        <a routerLink="/consultant" class="btn btn-light">Free Consultation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Content -->
	<!-- Team -->
	<div class="section section-pad">
		<div class="container">
			<div class="content row">
			
				<h3 class="heading-section">Our Experts</h3>
				<div class="gaps"></div>				
				<div class="team-member-row row mgtop">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member team-s2">
							<div class="team-photo">
								<img alt="" src="assets/image/team-a.jpg">
								<div class="team-social">
									<ul>
										<li><a href="#" class="fa fa-facebook"></a></li>
										<li><a href="#" class="fa fa-twitter"></a></li>
										<li><a href="#" class="fa fa-linkedin"></a></li>
									</ul>
								</div>
							</div>
							<div class="team-info">
								<h4 class="name">Brandon Auger</h4>
								<p class="sub-title">Corporate Consultant</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member team-s2">
							<div class="team-photo">
								<img alt="" src="assets/image/team-b.jpg">
								<div class="team-social">
									<ul>
										<li><a href="#" class="fa fa-facebook"></a></li>
										<li><a href="#" class="fa fa-twitter"></a></li>
										<li><a href="#" class="fa fa-linkedin"></a></li>
									</ul>
								</div>
							</div>
							<div class="team-info">
								<h4 class="name">Domenick Bertelli</h4>
								<p class="sub-title">Business Consultant</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member team-s2">
							<div class="team-photo">
								<img alt="" src="assets/image/team-c.jpg">
								<div class="team-social">
									<ul>
										<li><a href="#" class="fa fa-facebook"></a></li>
										<li><a href="#" class="fa fa-twitter"></a></li>
										<li><a href="#" class="fa fa-linkedin"></a></li>
									</ul>
								</div>
							</div>
							<div class="team-info">
								<h4 class="name">Joseph Feingold</h4>
								<p class="sub-title">Retirement Consultant</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member team-s2">
							<div class="team-photo">
								<img alt="" src="assets/image/team-d.jpg">
								<div class="team-social">
									<ul>
										<li><a href="#" class="fa fa-facebook"></a></li>
										<li><a href="#" class="fa fa-twitter"></a></li>
										<li><a href="#" class="fa fa-linkedin"></a></li>
									</ul>
								</div>
							</div>
							<div class="team-info">
								<h4 class="name">Scott Briggs</h4>
								<p class="sub-title">Business Consultant</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
				</div><!-- TeamRow #end -->
				
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Latest News -->
	<div class="section section-news section-pad">
		<div class="container">
			<div class="content row">
			
				<h3 class="heading-section">Consulting Experts News</h3>
				<div class="gaps"></div>
				<div class="blog-posts">
					<div class="row">
						<!-- // -->
						<div class="post post-boxed col-md-4 col-sm-6 res-s-bttm-lg">
							<div class="post-thumbs">
								<a href="#"><img alt="" src="assets/image/news-a.jpg"></a>
								<div class="post-meta"><span class="pub-date"><strong>29</strong> Sep</span></div>
							</div>
							<div class="post-entry">
								
								<h3><a href="#">Income Increase Shows the Recovery Is Very Much</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt laboris nisi ut aliquip exeo...</p>
								<a class="btn btn-alt" href="#">Read More</a>
							</div>
						</div>
						<!-- // -->
						<div class="post post-boxed col-md-4 col-sm-6">
							<div class="post-thumbs">
								<a href="#"><img alt="" src="assets/image/news-b.jpg"></a>
								<div class="post-meta"><span class="pub-date"><strong>12</strong> Sep</span></div>
							</div>
							<div class="post-entry">
								<h3><a href="#">An Economics Nobel awarded for Examining</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt laboris nisi ut aliquip post...</p>
								<a class="btn btn-alt" href="#">Read More</a>
							</div>
						</div>
						<!-- // -->
						<div class="gaps size-2x hidden-lg hidden-md"></div>
						<div class="col-md-4 col-sm-12">
							<ul class="news-recent">
								<li>
									<a href="#">
										<img alt="" src="assets/image/news-thumb-d.jpg">
										<p>Sed ut perspiciatis unde omnis iste natus error sit volup accus antium doloremque laudantiu...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="assets/image/news-thumb-c.jpg">
										<p>Sed ut perspiciatis unde omnis iste natus error sit volup accus antium doloremque laudantiu...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="assets/image/news-thumb-b.jpg">
										<p>Sed ut perspiciatis unde omnis iste natus error sit volup accus antium doloremque laudantiu...</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="assets/image/news-thumb-a.jpg">
										<p>Sed ut perspiciatis unde omnis iste natus error sit volup accus antium doloremque laudantiu...</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- End Section -->

