

      <!-- Banner -->
      <div class="header-s1">
      <div class="banner banner-static has-bg">
          <div class="banner-cpn">
            <div class="container">
              <div class="content row">
    
                <div class="banner-text">
                  <h1 class="page-title">Portfolio</h1>
                  <p>Our Portfolio</p>
                </div>
                <div class="page-breadcrumb">
                  <ul class="breadcrumb">
                    <li><a routerLink="/home">Home</a></li>
                    <li class="active"><span>Portfolio</span></li>
                  </ul>
                </div>
    
              </div>
            </div>
          </div>
          <div class="banner-bg">
            <img src="assets/image/banner-inner.jpg" alt="" />
          </div>
        </div>
      </div>
        <!-- End Banner -->
      <!-- Service Section -->
      <div class="section section-services section-pad">
          <div class="container">
              <div class="content row">
    
                <!-- Feature Row  -->
            <div class="feature-row feature-service-row row">
              <div class="col-md-4 col-sm-6 even first">
                <!-- feature box -->
                <div class="feature boxed feature-s6">
                  <a href="http://epicmusicla.com/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/epicmusicla.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Feature box -->
              </div>
              <div class="col-md-4 col-sm-6 odd">
                <!-- feature box -->
                <div class="feature boxed feature-s6">
                  <a href="http://nislamengineering-ltd.com/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/nislamengineering.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Feature box -->
              </div>
              <div class="col-md-4 col-sm-6 even">
                <!-- feature box -->
                <div class="feature boxed feature-s6">
                  <a href="http://ddshoppers.com/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/ddshoppers.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Featur box -->
              </div>
              <div class="col-md-4 col-sm-6 odd">
                <!-- featured box -->
                <div class="feature boxed feature-s6">
                  <a href="http://www.shubhodin.com/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/shubhodin.png" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Feature box -->
              </div>
              <div class="col-md-4 col-sm-6 odd">
                <!-- featured box -->
                <div class="feature boxed feature-s6">
                  <a href="http://dailysomoy24.com/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/dailysomoy24.png" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Feature box -->
              </div>
              <div class="col-md-4 col-sm-6 odd">
                <!-- featured box -->
                <div class="feature boxed feature-s6">
                  <a href="http://www.anneshabd.com/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/anneshabd.png" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Feature box -->
              </div>

                  <!-- Feature Row  -->
            <div class="feature-row feature-service-row row">
              <div class="col-md-4 col-sm-6 even first">
                <!-- feature box -->
                <div class="feature boxed feature-s6">
                  <a href="http://bghs.edu.bd/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/bghs.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Feature box -->
              </div>
              <div class="col-md-4 col-sm-6 odd">
                <!-- feature box -->
                <div class="feature boxed feature-s6">
                  <a href="http://ashinpurhs.edu.bd/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/ashinpurhs.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Feature box -->
              </div>
              <div class="col-md-4 col-sm-6 even">
                <!-- feature box -->
                <div class="feature boxed feature-s6">
                  <a href="http://baakhs.edu.bd/" target="_blank">
                    <div class="fbox-photo">
                      <img src="assets/image/portfolio/baakhs.jpg" alt="">
                    </div>
                  </a>
                </div>
                <!-- End Featur box -->
              </div>

            </div>
            <!-- Feture Row  #end -->
    
              </div>
          </div>
      </div>
      <!-- End Section -->