    <!-- Banner -->
  <div class="header-s1">
		<div class="banner banner-static has-bg">
        <div class="banner-cpn">
          <div class="container">
            <div class="content row">
  
              <div class="banner-text">
                <h1 class="page-title">What's Our Client's Says</h1>
                <p>To ventore veritatis et quasi architecto beatae vitae dicta et quasi architecto beatae vitae dicta totam rem aperiam.</p>
              </div>
              <div class="page-breadcrumb">
                <ul class="breadcrumb">
                  <li><a href="index-2.html">Home</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li class="active"><span>Testimonial</span></li>
                </ul>
              </div>
  
            </div>
          </div>
        </div>
        <div class="banner-bg">
          <img src="assets/image/banner-inner.jpg" alt="" />
        </div>
      </div>
    </div>
      <!-- End Banner -->
    <!-- Content -->
    <div class="section section-contents section-pad">
      <div class="container">
        <div class="content row">
  
          <div class="wide-md">
  
            <div class="testimonials testimonials-list">
              <div class="quotes quotes-v2">
                <div class="quotes-text">
                  <h5>“They are really capabilities and experience to deliver the answers you need to move forward.”</h5>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo enim ipsam.</p>
                  <p>Nemo enim ipsam ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo enim ipsam.</p>
                </div>
                <div class="profile-thumb">
                  <img src="assets/image/client-a.jpg" alt="">
                </div>
                <div class="profile">
                  <h5>John Doe</h5>
                  <h6>CEO, Company Name</h6>
                </div>
              </div>
              <div class="quotes quotes-v2">
                <div class="quotes-text">
                  <h5>“The firm’s professionals help me to optimize my businesses, improve all of my operations.”</h5>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo enim ipsam.</p>
                  <p>Nemo enim ipsam ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo enim ipsam.</p>
                </div>
                <div class="profile-thumb">
                  <img src="assets/image/client-b.jpg" alt="">
                </div>
                <div class="profile">
                  <h5>David Alone</h5>
                  <h6>CEO, Company Name</h6>
                </div>
              </div>
              <div class="quotes quotes-v2">
                <div class="quotes-text">
                  <p><strong>Sed ut perspiciatis unde omnis iste</strong> natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                  <p>Nemo enim ipsam ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo enim ipsam.</p>
                </div>
                <div class="profile-thumb">
                  <img src="assets/image/client-c.jpg" alt="">
                </div>
                <div class="profile">
                  <h5>Roman Reigns</h5>
                  <h6>CEO, Company Name</h6>
                </div>
              </div>
            </div>
  
          </div>
          
        </div>
      </div>
    </div>
    <!-- End Content -->