<!-- Banner -->
<div class="header-s1">
<div class="banner banner-static has-bg">
    <div class="banner-cpn">
      <div class="container">
        <div class="content row">

          <div class="banner-text">
            <h1 class="page-title">About CloudNext</h1>
            <p>Cloudnext generation company that serves leading businesses, governments, non governmental organizations.</p>
          </div>
          <div class="page-breadcrumb">
            <ul class="breadcrumb">
              <li><a routerLink="/home">Home</a></li>
              <li class="active"><span>About Us</span></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="banner-bg">
      <img src="assets/image/banner-inner.jpg" alt="" />
    </div>
  </div>
</div>
  <!-- End Banner -->
	<!-- Content -->
	<div class="section section-contents section-pad">
		<div class="container">
			<div class="content row">

				<div class="col-sm-7 npl res-m-bttm">

					<p>
							Cloudnext generation company that serves leading businesses, governments, non governmental organizations. We help our clients make lasting improvements to their performance and realize their most important goals. We strive to make technology integrate seamlessly with your business so yours business can grow. we will work hand in hand with you to support your growth, as your technology partner, when your business grow our will grow with you. Our absolute focus to help our society move into the future. we maintain the most innovative, reliable and cost-effective communications networks and meet their customers' growing needs through the rapid deployment of new communication solutions. When it comes to fulfilling business requirements and challenges, CloudNext provides the world’s most advanced Information and a Communication Technology (ICT) products, services and solutions.
					</p>
				</div>
				<div class="col-sm-5 npr">
					<img alt="" src="assets/image/service-f.jpg">
				</div>

			</div>
		</div>
	</div>
	<!-- End content -->
	<!-- Content -->
	<div class="section section-contents section-pad bg-light">
		<div class="container">
			<div class="content row center">
				<h2 class="heading-section">Our Smart Approach</h2>
				<div class="gaps size-sm"></div>
				<div class="row">
					<div class="col-sm-4 res-s-bttm">
						<div class="box bg-white pd-x3 round">
							<div class="icon-box style-s1">
								<em class="fa fa-diamond" aria-hidden="true"></em>
							</div>
							<h4>Experienced Consultant</h4>
						</div>
						
					</div>
					<div class="col-sm-4 res-s-bttm">
						<div class="box bg-white pd-x3 round">
							<div class="icon-box style-s1">
								<em class="fa fa-check-square" aria-hidden="true"></em>
							</div>
							<h4>Reliable &amp; Trustworthy</h4>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box bg-white pd-x3 round">
							<div class="icon-box style-s1">
								<em class="fa fa-bolt" aria-hidden="true"></em>
							</div>
							<h4>6+ years of experience</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End content -->
	<!-- Why Choose -->
	<div class="section section-contents section-pad light has-bg fixed-bg" style="background-image: url(assets/image/plx-dark.jpg);">
		<div class="container">
			<div class="content row center">

				<h2 class="heading-section">Why Choose Us</h2>
				<div class="gaps size-sm"></div>
				<div class="feature-intro">

					<div class="row">
						<div class="col-sm-3 res-s-bttm">
							<div class="icon-box style-s2">
								<em class="fa fa-briefcase" aria-hidden="true"></em>
							</div>
							<h4>Business Service Consulting</h4>
						</div>
						<div class="col-sm-3 res-s-bttm">
							<div class="icon-box style-s2">
								<em class="fa fa-black-tie" aria-hidden="true"></em>
							</div>
							<h4>Financial Services Consulting</h4>
						</div>
						<div class="col-sm-3 res-s-bttm">
							<div class="icon-box style-s2">
								<em class="fa fa-cogs" aria-hidden="true"></em>
							</div>
							<h4>Advanced Analytics &amp; Reports</h4>
						</div>
						<div class="col-sm-3">
							<div class="icon-box style-s2">
								<em class="fa fa-building" aria-hidden="true"></em>
							</div>
							<h4>Quality &amp; Innovation Solutions</h4>
						</div>
					</div>

				</div>

			</div>			
		</div>
	</div>
	<!-- End Why Choose -->

	<!-- End Section -->