<!-- Banner -->
<div class="header-s1">
  <div class="banner banner-static has-bg">
      <div class="banner-cpn">
        <div class="container">
          <div class="content row">
            <div class="banner-text">
              <h1 class="page-title">Our Products and Solutions</h1>
              <p>We navigate disruptive technologies to power your digital transformation.</p>
            </div>
            <div class="page-breadcrumb">
              <ul class="breadcrumb">
                <li><a href="index-2.html">Home</a></li>
                <li class="active"><span>Products and Solutions</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-bg">
        <img src="assets/image/banner-inner.jpg" alt="" />
      </div>
    </div>
  </div>
  <!-- End Banner -->

  <!-- Content -->
  <div class="section section-content section-pad products">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <img src="assets/image/products/hrm.png" alt="">
          <h2>HRM Software</h2>
          <p>Our Human Resource Management System (HRMS) software is designed for small and medium sized businesses.</p>
        </div>
        <div class="col-md-4">
          <img src="assets/image/products/crm.png" alt="">
          <h2>CRM Software</h2>
          <p>Customer relationship management (CRM) systems are designed to compile information on customers across different channels.</p>
        </div>
        <div class="col-md-4">
          <img src="assets/image/products/accounting.png" alt="">
          <h2>Accounting Software</h2>
          <p>Accounting software records and processes accounting transactions within functional modules such as accounts payable, accounts receivable and payroll.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/image/products/mf.png" alt="">
          <h2>MicroFinance ERP</h2>
          <p>MicroFinance ERP is a Micro-Finance Management Software specially developed for the Microfinance Institutes, NGO’s and Cooperative Societies to automate their work-flow.</p>
        </div>
        <div class="col-md-4">
          <img src="assets/image/products/sms2.png" alt="">
          <h2>School ERP</h2>
          <p>School ERP System provides user-friendly dashboards with login access for teachers, non-teaching staff, students, parents and management personnel of your institution. </p>
        </div>
        <div class="col-md-4">
          <img src="assets/image/products/hms.png" alt="">
          <h2>Hospital ERP</h2>
          <p>Hospital management system software designed to manage all aspects of a hospital operation.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/image/products/erp.png" alt="">
          <h2>ERP Software</h2>
          <p>Enterprise resource planning (ERP) is the integrated management of core business processes, often in real-time and mediated by software and technology.</p>
        </div>
        <div class="col-md-4">
          <img src="assets/image/products/pos.png" alt="">
          <h2>POS Software</h2>
          <p>Point of Sale (POS) Software. Your super shop may maintaining paper based Business Process for items, Sales, Purchase and inventory</p>
        </div>
        <div class="col-md-4">
          <img src="assets/image/products/scm.png" alt="">
          <h2>Supply Chain Management</h2>
          <p>Supply chain management (SCM) is the active management of supply chain activities to maximize customer value and achieve a sustainable competitive advantage.</p>
        </div>
      </div>

    </div>
  </div>
  <!-- End Content -->