
  <!-- <ul *ngFor="let post of posts | async">
    <li (click)="getPost(post.id)">
        <strong>{{ post.data.title}}</strong> 
        (<a (click)="deletePost(post.id)">delete</a>)
      <br>
      {{post.data.content}}
      {{post.data.date}}

    </li>
  </ul>

<h4>A specific post:</h4>
<h5>{{ (post | async)?.title }}</h5>
<small>{{ (post | async)?.date }}</small>
<p>{{ (post | async)?.content }}</p>
<p>
    <input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
</p>
<p>
    <input type="date" [(ngModel)]="date" name="date" placeholder="date..">
</p>
<p>
    <textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
</p>
<p>
    <input type="submit" value="Add a Post" (click)="addPost()">
</p> -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

