      <!-- Banner -->
    <div class="header-s1">
      <div class="banner banner-static has-bg">
          <div class="banner-cpn">
            <div class="container">
              <div class="content row">
    
                <div class="banner-text">
                  <h1 class="page-title">Our Experts for Consulting</h1>
                  <p>To ventore veritatis et quasi architecto beatae vitae dicta et quasi architecto beatae vitae dicta totam rem aperiam.</p>
                </div>
                <div class="page-breadcrumb">
                  <ul class="breadcrumb">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li class="active"><span>Our Advisors</span></li>
                  </ul>
                </div>
    
              </div>
            </div>
          </div>
          <div class="banner-bg ">
            <img src="assets/image/banner-inner.jpg" alt="" />
          </div>
        </div>
      </div>
        <!-- End Banner -->
      <!-- Content Section -->
      <div class="section section-contents section-pad">
        <div class="container">
          <div class="content row">
    
            <div class="wide-xs center">
              <h2 class="heading-section">Consulting Advisors</h2>
              <p>Adipiscing elit sed dot eiusmod tempor incididunt labore et dolore. Veniam quis nostrud exercitation ullamco laboris nisiut.</p>
            </div>
            <div class="gaps size-2x"></div>
            <div class="team-member-row row mgtop">
              <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Team Profile -->
                <div class="team-member team-s2">
                  <div class="team-photo">
                    <img alt="" src="assets/image/team-a.jpg">
                    <div class="team-social">
                      <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="team-info">
                    <h4 class="name">Brandon Auger</h4>
                    <p class="sub-title">Corporate Consultant</p>
                  </div>
                </div>
                <!-- Team #end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Team Profile -->
                <div class="team-member team-s2">
                  <div class="team-photo">
                    <img alt="" src="assets/image/team-b.jpg">
                    <div class="team-social">
                      <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="team-info">
                    <h4 class="name">Domenick Bertelli</h4>
                    <p class="sub-title">Business Consultant</p>
                  </div>
                </div>
                <!-- Team #end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Team Profile -->
                <div class="team-member team-s2">
                  <div class="team-photo">
                    <img alt="" src="assets/image/team-c.jpg">
                    <div class="team-social">
                      <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="team-info">
                    <h4 class="name">Joseph Feingold</h4>
                    <p class="sub-title">Retirement Consultant</p>
                  </div>
                </div>
                <!-- Team #end -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Team Profile -->
                <div class="team-member team-s2">
                  <div class="team-photo">
                    <img alt="" src="assets/image/team-d.jpg">
                    <div class="team-social">
                      <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="team-info">
                    <h4 class="name">Scott Briggs</h4>
                    <p class="sub-title">Business Consultant</p>
                  </div>
                </div>
                <!-- Team #end -->
              </div>
            </div><!-- TeamRow #end -->
            
          </div>
        </div>
      </div>
      <!-- End Section -->
      <!-- Content Section -->
      <div class="section section-contents section-pad bg-light">
        <div class="container">
          <div class="content row">
    
            <div class="wide-xs center">
              <h2 class="heading-section">Financial Advisors</h2>
              <p>Adipiscing elit sed dot eiusmod tempor incididunt labore et dolore. Veniam quis nostrud exercitation ullamco laboris nisiut.</p>
            </div>
            <div class="gaps size-2x"></div>
            <div class="team-member-row row mgtop">						
              <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Team Profile -->
                <div class="team-member">
                  <div class="team-photo">
                    <img alt="" src="assets/image/team-e.jpg">
                  </div>
                  <div class="team-info">
                    <h4 class="name">Joseph Feingold</h4>
                    <p class="sub-title">Finance Consultant</p>
                    <p>Veniam quis nostrud exercitation ullamco laboris nisiut. Lorem ipsum dolor sit amet consect iscing elit.</p>
                  </div>
                  <div class="team-social">
                    <ul>
                      <li><a href="#" class="fa fa-facebook"></a></li>
                      <li><a href="#" class="fa fa-twitter"></a></li>
                      <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                  </div>
                </div>
                <!-- Team #end -->
              </div>
    
              <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Team Profile -->
                <div class="team-member">
                  <div class="team-photo">
                    <img alt="" src="assets/image/team-f.jpg">
                  </div>
                  <div class="team-info">
                    <h4 class="name">Scott Briggs</h4>
                    <p class="sub-title">Accountant Consultant</p>
                    <p>Veniam quis nostrud exercitation ullamco laboris nisiut. Lorem ipsum dolor sit amet consect iscing elit.</p>
                  </div>
                  <div class="team-social">
                    <ul>
                      <li><a href="#" class="fa fa-facebook"></a></li>
                      <li><a href="#" class="fa fa-twitter"></a></li>
                      <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                  </div>
                </div>
                <!-- Team #end -->
              </div>
    
              <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Team Profile -->
                <div class="team-member">
                  <div class="team-photo">
                    <img alt="" src="assets/image/team-g.jpg">
                  </div>
                  <div class="team-info">
                    <h4 class="name">Brandon Auger</h4>
                    <p class="sub-title">Finance Consultant</p>
                    <p>Veniam quis nostrud exercitation ullamco laboris nisiut. Lorem ipsum dolor sit amet consect iscing elit.</p>
                  </div>
                  <div class="team-social">
                    <ul>
                      <li><a href="#" class="fa fa-facebook"></a></li>
                      <li><a href="#" class="fa fa-twitter"></a></li>
                      <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                  </div>
                </div>
                <!-- Team #end -->
              </div>
    
              <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- Team Profile -->
                <div class="team-member">
                  <div class="team-photo">
                    <img alt="" src="assets/image/team-h.jpg">
                  </div>
                  <div class="team-info">
                    <h4 class="name">Domenick Bertelli</h4>
                    <p class="sub-title">Investment Consultant</p>
                    <p>Veniam quis nostrud exercitation ullamco laboris nisiut. Lorem ipsum dolor sit amet consect iscing elit.</p>
                  </div>
                  <div class="team-social">
                    <ul>
                      <li><a href="#" class="fa fa-facebook"></a></li>
                      <li><a href="#" class="fa fa-twitter"></a></li>
                      <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                  </div>
                </div>
                <!-- Team #end -->
              </div>
            </div><!-- TeamRow #end -->
    
          </div>
        </div>
      </div>
      <!-- End Section -->
    
      <!-- Content Section -->
      <div class="section section-contents section-pad">
        <div class="container">
          <div class="content row">
    
            <div class="wide-xs center">
              <h2 class="heading-section">Management People</h2>
              <p>Adipiscing elit sed dot eiusmod tempor incididunt labore et dolore. Veniam quis nostrud exercitation ullamco laboris nisiut.</p>
            </div>
            <div class="gaps size-2x"></div>
            <div class="team-member-row row">
              <div class="col-md-6 res-m-bttm-lg">
                <div class="team-profile">
                  <div class="team-member row">
                    <div class="team-photo col-md-4 col-sm-4 col-xs-12">
                      <img alt="" src="assets/image/team-c.jpg">
                    </div>
                    <div class="team-info col-md-8 col-sm-8 col-xs-12">
                      <h3 class="name">Fernando Kennedy</h3>
                      <p class="sub-title">- Managing Director &amp; CEO</p>
                      <p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris nisiut.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- // -->
              <div class="col-md-6">
                <div class="team-profile">
                  <div class="team-member row">
                    <div class="team-photo col-md-4 col-sm-4 col-xs-12">
                      <img alt="" src="assets/image/team-b.jpg">
                    </div>
                    <div class="team-info col-md-8 col-sm-8 col-xs-12">
                      <h3 class="name">Dennis Clark</h3>
                      <p class="sub-title">- Managing Director &amp; CFO</p>
                      <p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris nisiut.</p>
    
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- TeamRow #end -->
            
    
          </div>
        </div>
      </div>
      <!-- End Section -->