
      <!-- Banner -->
    <div class="header-s1">
      <div class="banner banner-static has-bg">
          <div class="banner-cpn">
            <div class="container">
              <div class="content row">
    
                <div class="banner-text">
                  <h1 class="page-title">Services</h1>
                  <p>Our Services</p>
                </div>
                <div class="page-breadcrumb">
                  <ul class="breadcrumb">
                    <li><a routerLink="/home">Home</a></li>
                    <li class="active"><span>Services</span></li>
                  </ul>
                </div>
    
              </div>
            </div>
          </div>
          <div class="banner-bg">
            <img src="assets/image/banner-inner.jpg" alt="" />
          </div>
        </div>
      </div>
        <!-- End Banner -->
      <!-- Content -->
      <div class="section section-content section-pad">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="main-services">
                <li><a routerLink="/itconsultant">
                  <h3>IT CONSULTING</h3>
                  <p>We navigate disruptive technologies to power your digital transformation</p>
                </a></li>
                <li><a routerLink="/automation">
                  <h3>BUSINESS AUTOMATION</h3>
                  <p>including custom CRM development services, ERP software development, other information system development outsourcing is one of our core areas of competence</p>
                </a></li>
                <li><a routerLink="/softwaredev">
                  <h3>CUSTOM SOFTWARE DEVELOPMENT</h3>
                  <p>BUSINESS SOFTWARE TAILORED TO YOUR NEEDS</p>
                </a></li>
                <li><a routerLink="/dataanalysis">
                  <h3>DATA ANALYTICS</h3>
                  <p>We create IT solutions for data analytics that help our customers turn data-driven.</p>
                </a></li>
                <li><a routerLink="/webportal">
                  <h3>WEB PORTALS</h3>
                  <p>We offer full-cycle development services to create a web portal that supports your business strategy.</p>
                </a></li>
                <li><a routerLink="/ecommerce">
                  <h3>ECOMMERCE</h3>
                  <p>We deliver powerful ecommerce solutions allowing your business to stand out in a crowd.</p>
                </a></li>
                <li><a routerLink="/outsource">
                  <h3>OUTSOURCED PRODUCT DEVELOPMENT</h3>
                  <p>We offer 28 years of experience in software development outsourcing to help clients create software products within budget and time.</p>
                </a></li>
                <li><a routerLink="/mobileapp">
                  <h3>MOBILE APPLICATION DEVELOPMENT</h3>
                  <p>Ensure the success of your app by partnering with the skilled developers</p>
                </a></li>
                <li><a routerLink="/webapp">
                  <h3>WEB APPLICATION DEVELOPMENT</h3>
                  <p>Custom solutions and outsourced off-the-shelf products with reliable performance and convenient UIs</p>
                </a></li>
                <li><a routerLink="/qa">
                  <h3>SOFTWARE TESTING & QA</h3>
                  <p>We will ensure your product quality combining our testing expertise with an industry-specific approach.</p>
                </a></li>
                <li><a routerLink="/image">
                  <h3>IMAGE ANALYSIS</h3>
                  <p>We develop custom image analysis solutions tailored to specific needs of our customers and address a wide range of image processing tasks.</p>
                </a></li>
                <li><a routerLink="/networking">
                  <h3>NETWORKING</h3>
                  <p>We are there every step of the way for your mission critical systems from design to installation to management.</p>
                </a></li>
                <li><a routerLink="/security">
                  <h3>SECURITY INTELLIGENCE</h3>
                  <p>If you need to incorporate simple surveillance systems or include protection against bomb blasts or chemical/biological attacks.</p>
                </a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- End Content -->