<!-- Banner -->
<div class="header-s1">
    <div class="banner banner-static has-bg">
        <div class="banner-cpn">
          <div class="container">
            <div class="content row">
    
              <div class="banner-text">
                <h1 class="page-title">Page not Found</h1>
                <p>Looks like you've followed a broken link or entered a URL that doesn't exist on this site.</p>
              </div>
              <div class="page-breadcrumb">
                <ul class="breadcrumb">
                  <li><a href="index-2.html">Home</a></li>
                  <li class="active"><span>Page not found</span></li>
                </ul>
              </div>
    
            </div>
          </div>
        </div>
        <div class="banner-bg">
          <img src="assets/image/banner-inner.jpg" alt="" />
        </div>
      </div>
    </div>
      <!-- End Banner -->
      <!-- Content -->
      <div class="section section-contents section-pad">
        <div class="container">
          <div class="content row">
    
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-3">Page not found</h1>
                    <p>
                        Looks like you've followed a broken link or entered a URL that doesn't exist on this site.
                    </p>
                    <p class="lead">
                      <a class="btn btn-primary btn-lg" routerLink="/product" role="button">Back to our site</a>
                    </p>
                  </div>
            </div>
    
          </div>
        </div>
      </div>
      <!-- End content -->
    
      <!-- End Section -->