	<!-- Call Action -->
	<div class="call-action bg-primary">
      <div class="cta-block">
        <div class="container">
          <div class="content row">
  
            <div class="cta-sameline">
              <h3>Looking for a greats consultantcy for your new business?</h3>
              <p>Contact us today by submit a business inquiry form online.</p>
              <a class="btn btn-outline" routerLink="/contact">Contact Us</a>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- End Section -->
	<!-- Footer Widget-->
	<div class="footer-widget section-pad">
      <div class="container">
        <div class="row">
  
          <div class="widget-row row">
            <div class="footer-col col-md-3 col-sm-6 res-m-bttm">
              <!-- Each Widget -->
              <div class="wgs wgs-footer wgs-text">
                <div class="wgs-content">
                  <p><img src="assets/image/logo.png" srcset="image/logo2x.png 2x" alt=""></p>
                  <p>Our consultant unique combination of skill, experience and personal commitment, delivers an impact to your business. Applied Value Group combines Management Consulting, Private and Public Investments.</p>
                  <br>
                  <h5 class="wgs-title">
                    Find us on
                  </h5>
                  <ul class="social-iocn">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div>
              </div>
              <!-- End Widget -->
            </div>
            <div class="footer-col col-md-3 col-sm-6 col-md-offset-1 res-m-bttm">
              <!-- Each Widget -->
              <div class="wgs wgs-footer wgs-menu">
                <h5 class="wgs-title">Our Services</h5>
                <div class="wgs-content">
                  <ul class="menu">
                      <li><a routerLink="/itconsultant">IT CONSULTING</a></li>
                      <li><a routerLink="/automation">BUSINESS AUTOMATION</a></li>
                      <li><a routerLink="/softwaredev">CUSTOM SOFTWARE DEVELOPMENT</a></li>
                      <li><a routerLink="/dataanalysis">DATA ANALYTICS</a></li>
                      <li><a routerLink="/webportal">WEB PORTALS</a></li>
                      <li><a routerLink="/ecommerce">ECOMMERCE</a></li>
                      <li><a routerLink="/outsource">OUTSOURCED PRODUCT DEVELOPMENT</a></li>
                      <li><a routerLink="/mobileapp">MOBILE APPLICATION DEVELOPMENT</a></li>
                      <li><a routerLink="/webapp">WEB APPLICATION DEVELOPMENT</a></li>
                      <li><a routerLink="/qa">SOFTWARE TESTING & QA</a></li>
                      <li><a routerLink="/image">IMAGE ANALYSIS</a></li>
                      <li><a routerLink="/networking">NETWORKING</a></li>
                      <li><a routerLink="/security">SECURITY INTELLIGENCE</a></li>
                  </ul>
                </div>
              </div>
              <!-- End Widget -->
            </div>
            <div class="footer-col col-md-2 col-sm-6 res-m-bttm">
              <!-- Each Widget -->
              <div class="wgs wgs-footer wgs-menu">
                <h5 class="wgs-title">Links</h5>
                <div class="wgs-content">
                  <ul class="menu">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/services">Our Services</a></li>
                    <li><a routerLink="/emp">Teams / Expert</a></li>
                    <li><a routerLink="/news">News</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                  </ul>
                </div>
              </div>
              <!-- End Widget -->
            </div>
  
            <div class="footer-col col-md-3 col-sm-6">
              <!-- Each Widget -->
              <div class="wgs wgs-footer">
                <h5 class="wgs-title">Get In Touch</h5>
                <div class="wgs-content">
                    <ul class="contact-list">
                        <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                          <span>
                            <strong>Bangladesh</strong> : Planners Tower,<br>
                              Suite # 13, Level # 14, 
                              13/A, Sonargaon Road, 
                              Banglamotor, Dhaka</span>
                        </li>
                        <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                          <span>
                              <strong>UK</strong> : 100 Mile End Road, London, E1 4UN, UK
                          </span>
                        </li>
                        <li><em class="fa fa-map-marker" aria-hidden="true"></em>
                          <span>
                              <strong>USA</strong> : Jamaica Street, Newyork, NY-11432, USA
                          </span>
                        </li>
                        <li><em class="fa fa-phone" aria-hidden="true"></em>
                          <span>
                              <strong>BD</strong>: +8801799922567<br>
                              <strong>BD</strong>: +8801782579029<br>
                              <strong>UK</strong>: +44(0)20 3633 1301
                          </span>
                        </li>
                        <li><em class="fa fa-envelope" aria-hidden="true"></em>
                          <span>BD : <a href="#">info@cloudnextbd.com</a></span>
                          <span>UK : <a href="#">info-uk@cloudnextbd.com</a></span>
                          <span>US : <a href="#">info-us@cloudnextbd.com</a></span>
                        </li>
                        <li><em class="fa fa-skype" aria-hidden="true"></em>
                          <span>Skype : <a href="#">cloudnextbd</a></span>
                        </li>
                        <li>
                          <em class="fa fa-clock-o" aria-hidden="true"></em><span>Sun - Thu: 10AM - 7PM </span>
                        </li>
                      </ul>
                </div>
              </div>
              <!-- End Widget -->
            </div>
  
          </div><!-- Widget Row -->
  
        </div>
      </div>
    </div>
    <!-- End Footer Widget -->
    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="site-copy col-sm-7">
            <p>&copy; 2017 CloudNextBD.com <span class="sep"> . </span> <a href="#">Privacy Policy</a> <span class="sep"> . </span> <a href="#">Terms of Condition</a></p>
          </div>
          <div class="site-by col-sm-5 al-right">
            
          </div>
  
        </div>
      </div>
    </div>
    <!-- End Copyright -->