
    <!-- Banner -->
  <div class="header-s1">
		<div class="banner banner-static has-bg">
        <div class="banner-cpn">
          <div class="container">
            <div class="content row">
  
              <div class="banner-text">
                <h1 class="page-title">Frequently Ask Questions</h1>
                <p>To ventore veritatis et quasi architecto beatae vitae dicta et quasi architecto beatae vitae dicta mauris sit amet orci.</p>
              </div>
              <div class="page-breadcrumb">
                <ul class="breadcrumb">
                  <li><a href="index-2.html">Home</a></li>
                  <li><a href="about.html">About Us</a></li>
                  <li class="active"><span>Faqs</span></li>
                </ul>
              </div>
  
            </div>
          </div>
        </div>
        <div class="banner-bg">
          <img src="assets/image/banner-inner.jpg" alt="" />
        </div>
      </div>
    </div>
      <!-- End Banner -->
    <!-- Contents -->
    <div class="faqs-section section-pad">
      <div class="container">
        <div class="row">
  
          <div class="faqs-row faqs-s1 row content">
            <div class="col-md-3 col-sm-12">
              <div class="faqs">
                <h2 class="heading-section">General Questions</h2>
                <p>All you need to know about our support and how to do it.</p>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-1">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">How does it works?</h3>
                    <p>Internal audit is an independent, objective assurance and consulting activity designed to add value and improve an organization.</p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
                <div class="col-sm-6">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">How long my product reach?</h3>
                    <p>Consulting activity designed to add value and improve an organization’s operations.</p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">How will I know if you find?</h3>
                    <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri usto complect duo natum labitur.</p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
                <div class="col-sm-6">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">How long does an audit take?</h3>
                    <p>We budget between 200 and 600 hours for a typical delivery, depending on the size and complexity of your business.</p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
              </div>
            </div>
          </div> <!-- FAQ Row #end -->
  
        </div>
      </div>
    </div>
    <!-- End Section -->
    <!-- Conetent -->
    <div class="faqs-section section-pad bg-light">
      <div class="container">
        <div class="row">
  
          <div class="faqs-row faqs-s2 row content">
            <div class="col-md-3 col-sm-12">
              <div class="faqs faqs-section-head">
                <h2 class="heading-section">Other Questions</h2>
                <p>The answers on most common questions are described bellow.</p>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-1">
              <div class="row">
                <div class="col-sm-12">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">What kinds of companies?</h3>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
                <div class="col-sm-12">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">What are typical considerations?</h3>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">When should I approach?</h3>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
                <div class="col-sm-12">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">Should I expect to pay fees?</h3>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                  <!-- Faq ques/ans -->
                  <div class="faqs">
                    <h3 class="faq-heading">When should I approach?</h3>
                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
                  </div>
                  <!-- Faq ques/ans #end -->
                </div>
              </div>
            </div>
          </div> <!-- FAQ Row #end -->
  
        </div>
      </div>
    </div>
    <!-- End content -->
    <!-- Conetent -->
    <div class="faqs-section section-pad">
      <div class="container">
        <div class="row">
  
          <div class="wide-sm">
            <h2 class="heading-section center">Frequently Answers &amp; Questions</h2>
            <p class="center">These are just some of the most common questions we get asked. For anything else, please contact us.</p>
            <div class="gaps size-sm"></div>
            <!-- Accordion -->
            <div class="panel-group accordion" id="another" role="tablist" aria-multiselectable="true">
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="accordion-i1">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i1" aria-expanded="false">
                      What kind of Consulting advice do you give?
                      <span class="plus-minus"><span></span></span>
                    </a>
                  </h4>
                </div>
                <div id="accordion-pane-i1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i1">
                  <div class="panel-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="accordion-i2">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i2" aria-expanded="false">
                      Where can I find market research reports?
                      <span class="plus-minus"><span></span></span>
                    </a>
                  </h4>
                </div>
                <div id="accordion-pane-i2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i2">
                  <div class="panel-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="accordion-i3">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i3" aria-expanded="false">
                      Where should I incorporate my business?
                      <span class="plus-minus"><span></span></span>
                    </a>
                  </h4>
                </div>
                <div id="accordion-pane-i3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i3">
                  <div class="panel-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                    <p>Anim pariatur cliche reprehenderit accusamus terry richardson squid.</p>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="accordion-i4">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i4" aria-expanded="false">
                      What industries do you specialize in?
                      <span class="plus-minus"><span></span></span>
                    </a>
  
                  </h4>
                </div>
                <div id="accordion-pane-i4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-i4">
                  <div class="panel-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                  </div>
                </div>
              </div>
              <!-- end each panel -->
            </div>
            <!-- Accordion #end -->
          </div>
  
        </div>
      </div>
    </div>
    <!-- End content -->